<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
<!--  Uncomment to see what happens on the wire - Apache HttpClient 4  -->
<!-- 		<logger name="org.apache.http.wire" level="DEBUG" additivity="false"> -->
<!-- 			<appender-ref ref="Console" /> -->
<!-- 		</logger> -->

		<!-- Remove spam of INFO messages comming from Apache HttpClient 3 -->
		<logger name="org.apache.commons.httpclient" level="WARN" additivity="false">
		    <appender-ref ref="Console" />
		</logger> 
		
		<root level="INFO">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>