<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" packages="com.newpecunia.logging">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<ThrottlingSMTPAppender
		    name="SmtpAppender"
		    smtpHost="127.0.0.1"
		    smtpPort="25"
		    from="error.log@newpecunia.com"
		    to="petr.smid@pekat.cz"
		    subject="ERROR ocurred in New Pecunia server"
		    ignoreExceptions="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />		    
		</ThrottlingSMTPAppender>			

	</appenders>
	<loggers>
<!--  Uncomment to see what happens on the wire - Apache HttpClient 4  -->
<!-- 		<logger name="org.apache.http.wire" level="DEBUG" additivity="false"> -->
<!-- 			<appender-ref ref="Console" /> -->
<!-- 		</logger> -->

		<!-- Remove spam of INFO messages comming from Apache HttpClient 3 -->
		<logger name="org.apache.commons.httpclient" level="WARN" additivity="false">
		    <appender-ref ref="Console" />
		</logger> 

<!-- Show Hibernate SQL -->
<!-- 		<logger name="org.hibernate.SQL" level="DEBUG" additivity="false"> -->
<!-- 		    <appender-ref ref="Console" /> -->
<!-- 		</logger> -->
<!-- Show SQL paramter values -->
<!-- 		<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false"> -->
<!-- 		    <appender-ref ref="Console" /> -->
<!-- 		</logger> -->
		
		<!-- Trace logging of all NewPecunia code -->
		<logger name="com.newpecunia" level="TRACE" additivity="false">
		    <appender-ref ref="Console"/>
		    <appender-ref ref="SmtpAppender" level="ERROR"/>
		</logger> 	
		<root level="INFO">
		    <appender-ref ref="SmtpAppender" level="ERROR"/>
		    <appender-ref ref="Console" level="INFO"/>
		</root>

	</loggers>
</configuration>