<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="a simple Bitcoin exchange">
		<meta name="author" content="New Pecunia">
		<link rel="shortcut icon" href="../favicon.png">

		<title>New Pecunia - buy Bitcoin instantly</title>

		<!-- Bootstrap compiled and minified CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">

		<!-- Custom styles for this template -->
		<link href="../css/np.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body style="background-image: url(../fabric_plaid.png);">

		<!-- header -->
		<div class="navbar navbar-inverse navbar-fixed-top  hidden-xs" role="navigation">
			<div class="container">
				<div class="navbar-header"></div>
				<div>
					<ul class="nav navbar-nav">
						<li>
							<span class="navbar-text">Buy price: <b><span id="buyPrice" style="color: white">NA</span></b></span>
						</li>
						<li>
							<a href="http://bitcoin.org/" target="_blank">What is <span style="color: white"><b>Bitcoin</b></span>?</a>
						</li>
					</ul>EmailSender
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#about">About</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<!-- end of header -->

		<div class="container" style="padding-bottom: 30px; box-shadow: 6px 6px 50px -5px #999, -6px 6px 50px -5px #999; 
			background-color: white; background-image: url('../bgrndB.jpg'); background-position: bottom left; background-repeat: no-repeat;">
			<!-- navigation -->
			<div class="row">
				<!-- navigation for bigger displays -->
				<div class="hidden-xs">
					<div class="col-sm-6">
						<h1>Buy Bitcoin</h1>
					</div>
				</div>
				<!-- END of navigation for bigger displays -->

				<!-- navigation for small displays -->
				<div class="visible-xs">
					<div class="col-sm-12">
						<h1>Buy Bitcoin</h1>
						<p class="visible-xs  text-info">
							<a href="http://bitcoin.org/" target="_blank">What is Bitcoin?</a>
						</p>
					</div>
				</div>
				<!-- END of navigation for small displays -->

			</div>

			<form id="buyForm">
				<div class="row">
					<div class="col-md-3"> 
					</div>
					<div class="col-md-6">
						<div class="well">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="inputBuyAmount">Amount of Bitcoins to buy</label>
										<div class="input-group">
											<span class="input-group-addon"><b>BTC</b></span>
											<input th:if="*{confirmationValid == null || !confirmationValid}" id="inputBuyAmount" type="text" class="form-control" name="inputBuyAmount" value="0.5" autofocus="autofocus" required>
											<input th:if="*{confirmationValid != null && confirmationValid}" id="inputBuyAmount" type="text" class="form-control" name="inputBuyAmount" th:attr="value=${btcAmount}" autofocus="autofocus" required>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="labelPrice">Price to pay</label>
										<div class="input-group">
											<span class="input-group-addon"><strong>$</strong></span>
											<p id="labelPrice" class="form-control">
												<strong id="calculatedPrice"></strong>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputBtcAddress">Withdraw to address</label>
								<input th:if="*{confirmationValid == null || !confirmationValid}" type="text" class="form-control" id="inputBtcAddress" name="inputBtcAddress" placeholder="e.g. 1PeNCTPCWDRq52a8uB33Mpi6idoX5ZoNjm" required>
								<input th:if="*{confirmationValid != null && confirmationValid}" type="text" class="form-control" id="inputBtcAddress" name="inputBtcAddress" th:attr="value=${btcAddress}" disabled>
								
								<p th:if="*{confirmationValid == null || !confirmationValid}" class="text-info">
									<a href="http://bitcoin.org/en/choose-your-wallet" target="_blank">Don't have any address? Download a Bitcoin wallet.</a>
								</p>
							</div>
							<div class="form-group">
									<label for="inputEmail">E-mail <small th:if="*{confirmationValid == null || !confirmationValid}">for confirmation</small></label>
									<input th:if="*{confirmationValid == null || !confirmationValid}" id="inputEmail" type="email" class="form-control" name="inputEmail" placeholder="your@email" required>
									<input th:if="*{confirmationValid != null && confirmationValid}" id="inputEmail" type="email" class="form-control" name="inputEmail" th:attr="value=${email}" disabled>
							</div>
							<div class="form-group">
									<label for="inputName">Name</label>
									<input th:if="*{confirmationValid == null || !confirmationValid}" id="inputName"  name="inputName" type="text" class="form-control" placeholder="Your Name" required>
									<input th:if="*{confirmationValid != null && confirmationValid}" id="inputName"  name="inputName" type="text" class="form-control" th:attr="value=${name}" disabled>
							</div>
							<div class="form-group">
									<label for="inputAddress">Address</label>
									<input th:if="*{confirmationValid == null || !confirmationValid}" id="inputAddress" name="inputAddress"  type="text" class="form-control" placeholder="Street" required>
									<input th:if="*{confirmationValid != null && confirmationValid}" id="inputAddress" name="inputAddress" type="text" class="form-control" th:attr="value=${address}" disabled>
							</div>
							<div class="form-group">
									<label for="inputCity">City</label>
									<input th:if="*{confirmationValid == null || !confirmationValid}" id="inputCity"  name="inputCity" type="text" class="form-control" placeholder="City" required>
									<input th:if="*{confirmationValid != null && confirmationValid}" id="inputCity"  name="inputCity" type="text" class="form-control" th:attr="value=${city}" disabled>
							</div>
							<div class="form-group">
									<label for="inputCountry">Country</label>
									<select id="inputCountry" name="inputCountry" class="form-control" required th:attr="disabled=*{confirmationValid != null && confirmationValid}") required>
										<option value="AF" th:each="country : ${countries}" th:text="${country.englishName}" th:value="${country.isoCode}">Afghanistan</option>
									</select>									
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-sm-4"></div>

					<div class="col-sm-4">
						<button th:if="*{confirmationValid == null || !confirmationValid}" type="submit" class="btn btn-primary btn-lg btn-block">Continue</button>
						<button th:if="*{confirmationValid != null && confirmationValid}" type="submit" class="btn btn-success btn-lg btn-block">Proceed to payment >></button>
					</div>

					<div class="col-sm-4"></div>

				</div>
			</form>
		</div><!-- /.container -->

		<script>
			var dialogTitle = ""
			var dialogText = "";
			var dialogError = false;
		</script>

		<!-- Dialog. The content of the dialog is filled by the server. -->
		<div id="dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 id="dialogTitle" class="modal-title"> </h4>
					</div>
					<div id="dialogBody" class="modal-body">
<!-- 						<div class="alert alert-success"> -->
<!-- 							<p> -->
<!-- 								<strong>Thank you for your payment.</strong> -->
<!-- 							</p> -->
<!-- 							<p> -->
<!-- 								You should receive your Bitcoins in a short while. -->
<!-- 							</p> -->
<!-- 						</div> -->
						
<!-- 						<div class="alert alert-danger"> -->
<!-- 							<p> -->
<!-- 								<strong>An error ocurred.</strong> -->
<!-- 							</p> -->
<!-- 							<p> -->
<!-- 								Please try again later. -->
<!-- 							</p> -->
<!-- 						</div> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->


	<form id="goToCardPaymentForm" name="goToCardPaymentForm" th:attr="action=${cardProcessingUrl}" action="url" method="POST">
		<input type="hidden" id="trans_id" name="trans_id" value="%%trans_id%%"> <!-- The attribut must be really named "trans_id" !!! -->
	</form>



	<!-- Bootstrap, jQuery and jQuery Validator frameworks
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/np.js"></script>
		<script src="buy.js"></script>

		<script th:if="*{confirmationValid == null || !confirmationValid}">var unconfirmedPreOrder = true;</script>
		<script th:if="*{confirmationValid != null && confirmationValid}">var unconfirmedPreOrder = false;</script>
			
		</script>
		<!-- Rules for validation of the form -->		
		<script>
			$('#buyForm').validate({
				rules : {
					inputBuyAmount : {
						number : true,
						min : 0.01,
						max : 10000
					},
					inputBtcAddress : {
						btcAddress : true
					},
					inputCountry: {
			            required: true
			        }
				},
				submitHandler : function(f) {
					if (unconfirmedPreOrder) {
						submitUnconfirmedPreOrder();
					} else {
						submitBuy();
					}
				}				
			});

			// $('#dialog').modal('show');
		</script>
	</body>
</html>
